---
layout: default
---

{% assign posts_count = paginator.posts | size %}
<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">

        <ul class="flex-container">
               {% for post in paginator.posts %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="index-link">
          <li class="flex-item">
              <p class=""><strong>{{ post.title }}</strong></p>
              
              <hr class="title-hr">
              
              <span class="post-summary">
            {% if post.summary %}
              {{ post.summary | truncate: 100}}
            {% else %}
              {{ post.excerpt | truncate: 100}}
            {% endif %}
          </span>

          <p class="index-meta"><small>{{post.date  | date_to_string}}<span>{{post.author}}</span></small></p>
          </li>
          </a>
        {% endfor %}
        </ul>

    </div>
        {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>






<!-- 

{% assign posts_count = paginator.posts | size %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
 -->